@charset "utf-8";

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
}

#logo {
    display: block;
    width: 40%;
    height: 40%;
    margin: 0 auto;
}

#home {
    background-image: url(../images/IMG_1563.JPG);
    background-size: 100%;
    width: 100%;
    height: 270px;
}

.big-bg {
    background-size: contain;
    background-position: center top;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

h1,h1 > div,h1 > div >span {
    margin-left: 0;
    padding-left: 0;
}

h1,h1 > div {
    color: #e3e1e5;
    font-family: 'Shippori Mincho', serif;
    margin-top: 3px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    text-shadow: 5px 5px 3px #000;
}

.mozisize {
    width: 10%;
    height: 10%;
    margin-bottom: 7.5rem;
}

.imgsize {
    width: 85%;
    height: 80%;
    margin-top: .5rem;
    margin-left: 1rem;
    margin-bottom: 5rem;
}

.gmozisize {
    width: 10%;
    height: 10%;
    margin-bottom: 9.5rem;
}

.gimgsize {
    width: 85%;
    height: 80%;
    margin-top: .5rem;
    margin-left: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#ayame {
    background-image: linear-gradient(#fff, #31af50, #fff);
}

#okayu {
    margin-top: 3.5rem;
}

#enkai {
    background-image: linear-gradient(#fff, #bbe053, #fff)
}

/* =========ハンバーガーアイコンここから==========================- */

nav {
	width: 35px;
	height: 35px;
	background-color: grey;
	border-radius: 5px;
	cursor: pointer;
	position: fixed;
	top: 10px;
	right: 10px;
}

nav span,nav span::before,nav span::after {
	width: 30px;
	height: 3px;
	background-color: #fff;
	display: block;
	content: "";
	position: absolute;
	top: 2.5px;
	left: 2.5px;
}

nav span::before {
	top: 13px;
	left: 0;
}


nav span::after {
	top: 26px;
	left: 0;
}

#openclose {
	display: none;
}


#main-nav {
	margin-top: 35px;
	list-style-type: none;
	padding: 0 10px;
	position: fixed;
	right: -300px;
	z-index: 999;
}

#openclose:checked ~ #main-nav {
	transition: all 100ms 0s linear;
	transform: translate(-300px);
	-webkit-transition: all 100ms 0s linear;
	-moz-transition: all 100ms 0s linear;
	-ms-transition: all 100ms 0s linear;
	-o-transition: all 100ms 0s linear;
}

#openclose ~ #main-nav {
	transition: all 100ms 0s linear;
	transform: translate(300px);
	-webkit-transition: all 100ms 0s linear;
	-moz-transition: all 100ms 0s linear;
	-ms-transition: all 100ms 0s linear;
	-o-transition: all 100ms 0s linear;
}


#main-nav a {
    font-family: "Shippori Mincho", serif;
	padding: 3px 10px;
	display: block;
	background-color: grey;
	opacity: 0.8;
	color: black;
	text-align: center;
	text-decoration: none;
	border-bottom: 1px solid black;
	font-weight: bold;
}

#main-nav a:hover {
	background-color: rgb(64, 70, 71);
	color: black;
}

/* ===========ハンバーガーアイコンここまで==================================== */

/*#main-nav {
    font-size: 1rem;
    list-style-type: none;
    margin-top: 35px;
    padding-top: 0;
}*/

/*nav li {
    margin-left: 36px;
}*/


/*#main {
    background-image: url(../images/248768.png);
    min-height: 100vh;
    height: 3em;
    vertical-align: top;
}*/

section {
    margin-top: 0;
}

#homeimg {
    margin-right: 15%;
    margin-top: 10px;
}

#main img,#main p {
    /* display: flex; */
    float: right;
    max-width: 100vh;
}

/*#main > h2 {
        writing-mode: vertical-rl;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
        text-orientation: upright;
        -webkit-text-orientation: upright;
        margin-top: 1rem;
        font-size: 1.235rem;
        margin-right: 4rem;
        padding: 10px;
}*/

#tar {
    /* float: right; */
    font-size: 150%;
    text-indent: 0;
    font-weight: bold;
}

/*h2,*/p {
    letter-spacing: 1.4px;
}

.vrl {
    font-family: 'Shippori Mincho', serif;
    /* display: inline-block; */
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    text-orientation: upright;
    -webkit-text-orientation: upright;
    text-indent: 1em;
    margin-right: 2rem;
    padding: 8px;
    margin-top: 10px;
    line-height: 2;
}

#small {
    height: 5%;
    width: 5%;
    margin-top: 6.5rem;
    margin-right: 2rem;
    margin-left: 10px;
}

.flokai {
    clear: both;
}

/*.flokai */h2{
    background-color: rgb(144, 144, 145);
    color: rgb(238, 237, 237);
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 1.5rem;
    padding: 10px;
}

h2,h3 {
    font-family: 'Shippori Mincho', serif;
}

h3 {
    margin-top: 1rem;
    /*text-decoration-line: underline;
    text-underline-position: under;*/
}

.hidaage {
    float: left;
}

.block {
    display: block;
    width: 100%;
    height: 180px;
}

.migibun {
    margin-left: 70%;
    margin-top: 20%;
}

.hutozi {
    font-size: 1.5rem;
    font-weight: bold;
}

.top {
    margin-top: 9.5rem;
}

.right {
    text-align: right;
}

.migiage {
    float: right;
}

.hidabun {
    margin-left: 2%;
    margin-top: 17%;
}

#access {
    margin-top: 10rem;
    background-color: rgb(80, 76, 76);
}

.fon {
    font-family: 'Shippori Mincho', serif;
}

#color {
    color: rgb(204, 204, 204);
}

#koko {
    background-color: rgb(80, 76, 76);
    letter-spacing: normal;
}

#tizu {
    width: 25%;
    height: 25%;
    margin-left: 15%;
    margin-bottom: 3%;
}

#migitizu {
    margin-right: 5%;
}

.t-under {
    text-decoration: underline;
    font-size: 1.25rem;
}

.ml {
    margin-top: 100px;
    text-align: center;
}

.grip {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 6%;
}

.bigbox {
    grid-column: auto;
    grid-row: auto;
}

.bigbox img {
    height: auto;
}

.item {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.margin-t {
    margin-top: 6%;
}

.bmigibun {
    margin-bottom: 8rem;
}

#flex {
    display: flex;
    margin: 2rem 10%;
}

.ribbon1,.ribbon2,.ribbon3,.ribbon4 {
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 10px;
    font-size: 10px;
    color: #FFF;
    box-sizing: border-box;
}

.ribbon1 {
    background: #8b8a8a;
}

.ribbon2 {
    background: #707070;
}

.ribbon3 {
    background: #5a5a5a;
}

.ribbon4 {
    background: #4b4b4b;
}

.ribbon2::before,.ribbon3::before,.ribbon4::before {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    z-index: 1;
    top: 0;
    left: 0;
    border-width: 15px 0px 15px 10px;
    border-style: solid;
}

.ribbon2::before {
    border-color: transparent transparent transparent #8b8a8a;
}

.ribbon3::before {
    border-color: transparent transparent transparent #707070;
}

.ribbon4::before {
    border-color: transparent transparent transparent #5a5a5a;
}

.t-color {
    color: #da1717;
    font-weight: bold;
}

/*.disf {
    display: flex;
}*/

.form {
    margin-top: 5rem;
    background-color: #3b3b3b;
    padding: .5rem;
    text-align: center;
    color: #f3f2f2;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Shippori Mincho", serif;
    letter-spacing: .8rem;
}

/* input[type="date"] */

select {
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
}

select::-ms-expand {
    display: block;
}

form {
    display: table;
    width: 100%;
}

#table {
	border: 1px solid #6e6d6d;
	border-collapse: collapse;
    width: 100%;
    margin-bottom: 100px;
}

.th {
    border-right: 1px solid #6e6d6d;
}

.td {
    padding-left: 2rem;
}

.th,.td {
	border-bottom: 1px solid #6e6d6d;
    line-height: 2.5;
}

form tr:last-of-type td {
	text-align: center;
}

input[type="text"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="date"],
input[type="password"] {
	width: 100%;
}

select {
    border: #b8b7b7 1px solid;
    padding: 3px;
    font-size: 14px;
}

.subpd {
    font-family: "Shipori Mincho", serif;
    padding: 1px 3px;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid rgb(39, 39, 39);
    border-radius: 10px;
    margin: 5px;
}

.oto {
    margin: 70px 0;
    text-align: center;

}

#table2 {
    width: 100%;
}

.th2,.td2 {
    line-height: 3;
}

.td2 {
    border-bottom: 1px solid #000;
}

textarea {
    resize: none;
}

.submit {
    margin: 5rem 0 8rem;
    background-color: #a5932b;
    color: #f1f1f1;
}

footer {
    text-align: center;
    padding: 20px 0;
}

footer small {
    color: #7c7a7a
}

#gotop {
	position: fixed;
	right: 30px;
	bottom: 40px;
}

#gotop a {
    font-size: 2rem;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #4b455e;
    border-radius: 50%;
    text-decoration: none;
    color: #eff0ef;
    /* text-shadow: 2px 2px 3px #333; */
    text-align: center;
    line-height: 45px;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

a span {
    position: relative;
    top: 4px;
    width: 100%;
    height: 30px;
}

#alogo {
    display: block;
    text-align: right;
    position: relative;
    padding: 4rem 5rem;
    text-decoration: underline;
    text-underline-position: below;
    color: #000;
    font-size: 1rem;
}

/*  ============== pc(601px以上)
==========================================================================================================================================  */
@media (min-width: 600px) {

    #logo {
        width: 20%;
        height: 20%;
        margin-left: 40%;
    }

    #home {
        min-height: 100vh;
    }

    .big-bg {
        background-size: contain;
        background-position: center top;
    }

    .wrapper {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 4%;
    }

    h1,h1 > div,h1 > div >span {
        margin-left: 0;
        padding-left: 0;
    }

    h1,h1 > div {
        color: #e3e1e5;
        font-family: 'Shippori Mincho', serif;
        margin-top: 25px;
        font-weight: bold;
        font-size: 40px;
        margin-left: 30px;
        text-shadow: 5px 5px 3px #000;
    }

    h1 > div {
        margin-left: 30px;
    }

    h1 > div > span {
        color: rgb(189, 214, 75);
    }

/* =======================ここから====================== */


    label[for="openclose"] {
		visibility: hidden;
	}

	nav {
		position: static;
		width: 100%;
		height: auto;
		margin: 0;
	}

	nav span,nav span::before,nav span::after {
		display: none;
	}

	#main-nav {
		position: static;
		display: flex;
		visibility: visible;
		padding: 0;
		justify-content: space-around;
	}

	#openclose:checked ~ #main-nav {
		transition: none;
		transform: translate(0px);
	}

	#openclose ~ #main-nav {
		transition: none;
		transform: translate(0px);
	}

/* ===================ここまで========================= */

    nav {
        margin-right: 6.25rem;
    }

    #relative {
        position: relative;
        top: 50px;
        margin-top: -50px;
    }

    a {
        text-decoration: none;
    }

    .page-header {
        display: flex;
        justify-content: space-between;
    }

    #main-nav {
        display: flex;
        justify-content: flex-end;
        font-size: 1.325rem;
        margin-top: 35px;
        margin-right: 30px;
        list-style-type: none;
    }

    nav li {
        margin-left: 36px;
    }

    #main-nav a {
        font-family: "Shippori Mincho", serif;
        background-color: #808080b3;
        color: #b7e416;
        border-bottom: 0;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    #main-nav a:hover {
        background-color: #404647;
        color:#b7e416;
    }


    /*#main {
        background-image: url(../images/248768.png);
        min-height: 100vh;
        height: 3em;
        vertical-align: top;
    }*/

    .pl {
        padding-left: 4rem;
    }

    section {
        margin-top: 0;
    }

    #homeimg {
        margin-right: 4.5rem;
        margin-top: 10px;
    }

    #main img,#main p {
        /* display: flex; */
        float: right;
    }

    /*#main > h2 {
            writing-mode: vertical-rl;
            -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: vertical-rl;
            text-orientation: upright;
            -webkit-text-orientation: upright;
            margin-top: 1rem;
            font-size: 1.235rem;
            margin-right: 4rem;
            padding: 10px;
    }*/

    #tar {
        /* float: right; */
        font-size: 150%;
        text-indent: 0;
        font-weight: bold;
    }

    /*h2,*/p {
        letter-spacing: 1.4px;
    }

    .vrl {
        font-family: 'Shippori Mincho', serif;
        /*display: inline-block;*/
        writing-mode: vertical-rl;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
        text-orientation: upright;
        -webkit-text-orientation: upright;
        text-indent: 1em;
        margin-right: 2rem;
        padding: 8px;
        margin-top: 10px;
        line-height: 1.8;
    }

    #small {
        height: 5%;
        width: 5%;
        margin-top: 6.5rem;
        margin-right: 2rem;
        margin-left: 10px;
    }

    .flokai {
        clear: both;
    }

    .flokai h2{
        background-color: #909091;
        color: #eeeded;
        font-size: 1.5rem;
        font-weight: lighter;
        letter-spacing: 1.5rem;
        padding: 10px;
    }

    .flokai h2,.flokai h3 {
        font-family: 'Shippori Mincho', serif;
    }

    h3 {
        margin-top: 1rem;
        /*text-decoration-line: underline;
        text-underline-position: under;*/
    }

    .hidaage {
        float: left;
    }

    .block {
        display: block;
        width: 110%;
        height: 250px;
    }

    .migibun {
        margin-left: 70%;
        margin-top: 17%;
    }

    .hutozi {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .top {
        margin-top: 15rem;
    }

    .right {
        text-align: right;
    }

    .migiage {
        float: right;
    }

    .hidabun {
        margin-left: 20%;
        margin-top: 17%;
    }

    #access {
        margin-top: 10rem;
        background-color: #504c4c;
    }

    .fon {
        font-family: 'Shippori Mincho', serif;
    }

    #color {
        color: #cccccc;
    }

    #tizu {
        width: 25%;
        height: 25%;
        margin-left: 15%;
        margin-bottom: 3%;
    }

    #migitizu {
        margin-top: 5%;
        margin-right: 20%;
    }

    .mozisize {
        width: 10%;
        height: 10%;
        margin-bottom: 7.5rem;
        margin-left: 2.5rem;
    }

    .imgsize {
        width: 80%;
        height: 80%;
        margin: .5rem 0 5rem 2.5rem;
    }

    .gmozisize {
        width: 10%;
        height: 10%;
        margin-bottom: 9.5rem;
        margin-left: 2.5rem;
    }

    .gimgsize {
        width: 80%;
        height: 80%;
        margin: 5rem 0 5rem 2.5rem;
        margin-top: .5rem;
    }

    #ayame {
        background-image: linear-gradient(#fff, #31af50, #fff);
    }

    #okayu {
        margin-top: 3.5rem;
    }

    #enkai {
        background-image: linear-gradient(#fff, rgb(187, 224, 83), #fff)
    }

    .bigbox {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    .bigboxy {
        grid-column: 2 / 4;
        grid-row: 3 / 5;
    }

    .bhidabun {
        margin-top: 15rem;
        margin-right: 36rem;
        margin-left: 5rem;
    }

    .mll {
        margin-top: 20rem;
    }

    .bmigibun {
        margin-bottom: 15rem;
    }

    #flex {
        display: flex;
        margin: 2rem 10%;
    }

    .ribbon1,.ribbon2,.ribbon3,.ribbon4 {
        display: inline-block;
        position: relative;
        height: 50px;
        line-height: 50px;
        text-align: center;
        padding: 0 30px;
        font-size: 18px;
        color: #FFF;
        box-sizing: border-box;
    }

    .ribbon1 {
        background: #8b8a8a;
    }

    .ribbon2 {
        background: #707070;
    }

    .ribbon3 {
        background: #5a5a5a;
    }

    .ribbon4 {
        background: #4b4b4b;
    }

    .ribbon2::before,.ribbon3::before,.ribbon4::before {
        position: absolute;
        content: '';
        width: 0px;
        height: 0px;
        z-index: 1;
        top: 0;
        left: 0;
        border-width: 25px 0px 25px 15px;
        border-style: solid;
    }

    .ribbon2::before {
        border-color: transparent transparent transparent #8b8a8a;
    }

    .ribbon3::before {
        border-color: transparent transparent transparent #707070;
    }

    .ribbon4::before {
        border-color: transparent transparent transparent #5a5a5a;
    }

    .t-color {
        margin-top: 3rem;
    }

    /*table {
        display: table;
        width: 993px;
    }*/

    #table2 {
        padding-right: 8rem;
    }

    form th,form td {
        display: table-cell;
    }

    textarea {
        width: 100%;
        height: 80px;
    }

    footer {
        text-align: center;
        padding: 20px 0;
    }

    footer small {
        color: #7c7a7a
    }
}